<!DOCTYPE html>
<html>
  <head>
    <title>HorrorMovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="application.css" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footerFixed">
    <%= render 'layouts/header' %>
    <%= yield %>
    <footer>
      <nav class= "navbar navbar-expand-lg navbar-light" style= "background-color: black">
        <div class='container-fluid'>
        <ur class="px-5 mx-auto text-white">
          ©Genre Horror
        </ur>
        </div>
      </nav>
    </footer>
    </div>
  </body>
  
</html>
